html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}


@font-face {
  font-family: "hello";
  src: url('../font/PTSans.ttc');
  src: url('../font/PTSans.eot?#iefix') format('eot'),
url('../font/PTSans.woff') format('woff'),
url('../font/PTSans.ttf') format('truetype'),
url('../font/PTSans.svg') format('svg');
}
  
  body
  { text-decoration: none; 
   border: 0 none;
    margin: 0;
    padding: 0;
    height: 100%;
	min-width: 1000px;
	font-family: "hello", Trebuchet MS, sans-serif, Gill Sans,Lucida Sans Unicode;
	font-size:small; }
	
	
	#container
{
margin-left: 10%;
margin-right: 10%;
}

#header
{
background: url(../img/head.png) scroll 0 0 transparent repeat-x;
height:50px;
margin: 0 auto;
width:100%;
position: relative;
-moz-box-shadow: 2px 2px 2px #799eb9;
-webkit-box-shadow: 2px 2px 2px #799eb9;
box-shadow: 2px 2px 2px #799eb9;
}

#logo
{
background: url(../img/logo3.png);
width:40px;
height:40px;
z-index: 99;
position: absolute;
margin-left: 100px;
margin-top: 3px;
}

#movingtext
{
background: #ffffff;
font-size: small;
margin-top: -10px;
position: relative;
height: 30px;
opacity: 0.42;
}



#bg
{
height:100%;
position:fixed;
background-image: url(../img/background.jpg) ;
width: 100%;
min-width: 1024px;
z-index: -1;
background-repeat: repeat-y;
}

#box
{
width: 527px;
height: 468px;
background: #23699b;
opacity: 0.85;
z-index: 3;
margin-top: 30px;
position: absolute;
border: 2px solid #d8d8d7;
margin-left: 300px;
}

h1{
font-size: 50px;
color: white;
margin-top: 20px;
letter-spacing:-1px;
}

#beritamu b
{
font-size: 30px;
color: white;
margin-top: -20px;
}

#beritamu
{
font-size: 20px;
color: white;
margin-top: -20px;
}

#connect
{
width: 233px;
height: 40px;
position: relative;
}

#connect a
{
display: inline-block;
 background-image: url("../img/connect.png");
 background-repeat: no-repeat;
 width: 221px;
 height: 45px;
 float: left;
 position: relative;
 margin-top: 60px;
 }
 
 #connect a:hover
 {
 background-image: url("../img/connecthover.png");
  width: 221px;
 height: 45px;
 }
 
 #proud
 {
font-size: 12px;
color: white;
margin-top: 55px;
position: relative;
 }
 
  #by {
font-size: 12px;
color: white;
margin-top: 55px;
position: relative;
 }
 
 #by a
 {
 color: #f9db67;
 text-decoration: none;
 }
 
 #by a:hover
 {
  color: #f9e949;
 }
 
 #proud2
  {
font-size: 11px;
color: white;
margin-top: 55px;
position: relative;
 }
 
 
 #box2
 {
 display:compact;
width: 270px;
height: 468px;
background: white;
z-index: 98;
position:absolute;
border: 2px solid #d8d8d7;
float: right;
margin-left: 890px;
margin-top: 30px;
 }
 
#box2  #box3
 {
 display:run-in;
width: 250px;
height: 444px;
background:white;
z-index: 99;
position:relative;
border: 2px solid #d8d8d7;
margin-top: 10px;
 }
 
 #publik
{
font-size: 14px;
color: black;
letter-spacing: -1px;
margin-left:5px;
}

 #klik
{
font-size: 11px;
color: black;
letter-spacing: -1px;
margin-left:5px;
font-weight: 100;
margin-top: -8px;
}

#rank
{
font-size: 13px;
color: black;
letter-spacing: -1px;
margin-left:5px;
font-weight: 100;
margin-top: -2px;
text-decoration: none;
font-weight: 600;
}

#rank a
{
text-decoration: none;
color: black;
}

#rank a:hover
{
text-decoration: underline;
}

#rank a:hover
{
border-bottom: 3px solid #f9db67;
padding-bottom: 0.1px;
text-decoration: none;
margin-top: -2px;
}

 #publik2
{
font-size: 14px;
color: black;
letter-spacing: -1px;
margin-left:5px;
}


