		<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />

<div id="movingtext">
<p align=""><marquee behavior="scroll" direction="left"> </marquee></p>
</div>

<div id="con">
<div  id="bg"></div>
<center>
<div id="box">
<h1 align="center">Share.</h1>
<div id="beritamu"><b>Berita-mu,</b> Sesuatu yang bikin hidup Twitter-mu.<br>
             Utarakan opini-mu untuk Indonesia.</div>
					<center id="connect">
							<a href="/auth/twitter"></a>
					</center>
<br>
<div id="proud" align="center">(Proud to be Indonesian News Blower)</div>
<div id="by" align="center">by signing in you agree to our <a href>terms of use</a> <br>
and <a href>privacy policy</a></div>

<div id="proud2" align="center"><i>Proud to be Indonesian, Evan Purnama & Adi Arriansyah.</i></div>
</div>
</center>

<div id="box2">
<center><div id="box3">
<h3 align="left" id="publik">10 Topik Terkini<br>
Paling sering dibicarakan <br>
di Indonesia, saat ini.</h3>

<h5 align="left" id="klik">
<i>Klik Berita berdasar Hashtag</i>
</h5>
<hr style="border: 1px solid #d8d8d7; margin-left: 5px; margin-right: 5px; margin-top: -10px;" /> 

<h6 align="left" id="rank">
<% 
    i = 1
    listissues = []
    @issues.each do |issue|
    if listissues.include? issue.name
        next
    end
    listissues << issue.name
    %>

    #<%= i %> &nbsp; <a href="/issue/<%= issue.id %>">*<%= issue.name %>*</a><br>
    <% 
    if i == 10
        break
    end
    i += 1
    end 
%>
</h6>

<h3 align="left" id="publik2">Publik Figur<br>
Paling sering dibicarakan <br>
di Indonesia,di minggu ini.</h3>

<hr style="border: 1px solid #d8d8d7; margin-left: 5px; margin-right: 5px; margin-top: -10px;" /> 

<h6 align="left" id="rank">
#1 Raffi Ahmad <br>
#2 Joko Widodo <br>
#3 Aceng Fikri <br>
#4 Anas Urbaningrum <br>
#5 SBY <br>
</h6>
</div>
</center>
</div>

</div>



